<h2>Show drink</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @drink.name %>
  </li>

  <li>
    <strong>Temperature:</strong>
    <%= @drink.temperature %>
  </li>

</ul>

<%= link "Edit", to: drink_path(@conn, :edit, @drink) %>
<%= link "Back", to: drink_path(@conn, :index) %>
